body{
    /* margin: 0; */
}
.oke{
    background-color: rgb(18, 178, 18);
    width: fit-content;
    border-radius: 100%;
    padding: 1rem;
}

.oke2{
    display: flex;
    background-color: rgb(18, 178, 18);
    width: fit-content;
    border-radius: 100%;
    padding: .4rem;

}